{% extends 'news.html' %}
{% load django_markdown %}
{% load staticfiles %}


{% block content %}
    <div class="container">
        <div class="row margin">
             <div class="col-md-12">
                <div class="post">
                    <h2>{{ object.title }}</h2>
                    <p class="meta">
                        {{ object.created }} {{  object.tags.all|join:", " }}
                    </p>
                    <img class="img-responsive img-thumbnail center-block" width="70%" height="60" src="{{MEDIA_URL}}{{ object.pics }}" alt="MyObject's Image"/>
                    <p>{{ object.body|markdown }}</p>
                </div>
             </div>
        </div>
    </div>
{% endblock %}